<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,600,800i" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar row">
  <div class="nav-links col-12">
    <ul class="list-inline tabs-underlined col-12">
      <li class="col-lg-1  col-sm-4 list listA">
        <%= link_to "Home", "/index.html", :anchor => "ban", class: "tab-underlined  hvr-bob" %>
      </li>
      <li class="col-lg-1  col-sm-4 list listA">
        <%= link_to "About", "/index.html",:anchor => "about", class: "tab-underlined hvr-bob" %>
      </li>
      <li class="col-lg-1  col-sm-4 list listA">
        <%= link_to "Works", "/works.html", class: "tab-underlined hvr-bob" %>
      </li>
    </ul>
  </div>
</div>
    <%= yield %>
     <!-- FOOTER start -->
    <div class="footer col-12">
      <div class="footer-links">
        <a target="_blank" href="https://github.com/Qwertic"><i class="fab fa-github"></i></a>
        <a target="_blank" href="https://www.instagram.com/regivoda"><i class="fab fa-instagram"></i></a>

        <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/regi-voda-580a05169"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="footer-copyright">
        This page is made with <i class="fas fa-heart"></i> by Regi Voda
      </div>
    </div>
    <!-- FOOTER end -->
<%= javascript_include_tag "site" %>


  </body>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
  AOS.init();
</script>
</html>
